#include <windows.h>
#include "resources.h"

allegro_icon ICON rpcemu.ico

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "rpcemu.manifest"

MainMenu MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Reset", IDM_FILE_RESET
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILE_EXIT
	END
	POPUP "&Disc"
	BEGIN
		MENUITEM "Load Disc :&0", IDM_DISC_LD0
		MENUITEM "Load Disc :&1", IDM_DISC_LD1
	END
	POPUP "&Settings"
	BEGIN
		MENUITEM "&Configure...", IDM_CONFIG
		MENUITEM "&Networking...", IDM_NETWORKING
		MENUITEM SEPARATOR
		MENUITEM "&Fullscreen mode", IDM_FULLSCR
		MENUITEM "&Reduce CPU usage", IDM_CPUIDLE
		MENUITEM SEPARATOR
		POPUP "&CD-ROM"
		BEGIN
			MENUITEM "&Disabled", IDM_CDROM_DISABLED
			MENUITEM "&Empty", IDM_CDROM_EMPTY
			MENUITEM "&ISO image...", IDM_CDROM_ISO
		END
		MENUITEM SEPARATOR
		POPUP "&Mouse"
		BEGIN
			MENUITEM "&Follow host mouse", IDM_MOUSE_FOL
			MENUITEM "&Capture", IDM_MOUSE_CAP
			MENUITEM "&Two-button Mouse Mode", IDM_MOUSE_TWOBUTTON
		END
	END
END

ConfigureDlg DIALOGEX 20, 20, 225, 239
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure RPCEmu"
FONT 8, "MS Shell Dlg"
BEGIN
	GROUPBOX "Hardware", GroupBox_CPU, 7, 7, 102, 112, WS_TABSTOP
	LISTBOX ListBox_Hardware, 13, 19, 90, 100, WS_TABSTOP | WS_VSCROLL | LBS_DISABLENOSCROLL

	GROUPBOX "RAM", GroupBox_RAM, 116, 7, 102, 112, WS_TABSTOP
	RADIOBUTTON "4 MB",   RadioButton_Mem_4,   122, 18, 53, 10, WS_TABSTOP
	RADIOBUTTON "8 MB",   RadioButton_Mem_8,   122, 32, 53, 10, WS_TABSTOP
	RADIOBUTTON "16 MB",  RadioButton_Mem_16,  122, 46, 53, 10, WS_TABSTOP
	RADIOBUTTON "32 MB",  RadioButton_Mem_32,  122, 60, 53, 10, WS_TABSTOP
	RADIOBUTTON "64 MB",  RadioButton_Mem_64,  122, 74, 53, 10, WS_TABSTOP
	RADIOBUTTON "128 MB", RadioButton_Mem_128, 122, 88, 53, 10, WS_TABSTOP
	RADIOBUTTON "256 MB", RadioButton_Mem_256, 122, 102, 53, 10, WS_TABSTOP

	GROUPBOX "VRAM", GroupBox_VRAM, 7, 126, 102, 42, WS_TABSTOP
	RADIOBUTTON "None", RadioButton_VRAM_0, 13, 137, 53, 10, WS_TABSTOP
	RADIOBUTTON "2 MB", RadioButton_VRAM_2, 13, 151, 53, 10, WS_TABSTOP

	CHECKBOX "Sound", CheckBox_Sound, 122, 137, 53, 10, WS_TABSTOP

	GROUPBOX "Video refresh rate", GroupBox_Refresh, 7, 175, 211, 36, WS_TABSTOP
	CONTROL "Slider1", Slider_Refresh, "msctls_trackbar32" , WS_TABSTOP | TBS_AUTOTICKS, 10, 186, 178, 18
	LTEXT "60 Hz", Text_Refresh, 188, 189, 24, 8, WS_TABSTOP

	PUSHBUTTON "OK",     IDOK,     114, 218, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 168, 218, 50, 14, WS_TABSTOP
END

NetworkDlg DIALOGEX 0, 0, 213, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure RPCEmu Networking"
FONT 8, "MS Shell Dlg"
BEGIN
	GROUPBOX	"Networking", GroupBox_Networking, 7, 7, 199, 62
	RADIOBUTTON	"Off", RadioButton_Off, 13, 18, 27, 10, WS_TABSTOP
	RADIOBUTTON	"Ethernet Bridging", RadioButton_EthernetBridging, 13, 32, 71, 10, WS_TABSTOP
	LTEXT		"Bridge Name", Text_BridgeName, 43, 49, 41, 8
	EDITTEXT	Edit_BridgeName, 87, 46, 102, 14, ES_AUTOHSCROLL

	DEFPUSHBUTTON	"OK",     IDOK,     102, 76, 50, 14
	PUSHBUTTON	"Cancel", IDCANCEL, 156, 76, 50, 14
END
