#include <windows.h>
#include "resources.h"

allegro_icon ICON rpcemu.ico

MainMenu MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Reset", IDM_FILE_RESET
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILE_EXIT
	END
	POPUP "&Disc"
	BEGIN
		MENUITEM "Load Disc :&0", IDM_DISC_LD0
		MENUITEM "Load Disc :&1", IDM_DISC_LD1
	END
	POPUP "&Settings"
	BEGIN
		MENUITEM "&Configure...", IDM_CONFIG
		MENUITEM "&Networking...", IDM_NETWORKING
		MENUITEM SEPARATOR
		MENUITEM "&Fullscreen mode", IDM_FULLSCR
		MENUITEM "&Alternative blitting code", IDM_STRETCH
		MENUITEM SEPARATOR
		POPUP "&CD-ROM"
		BEGIN
			MENUITEM "&Disabled", IDM_CDROM_DISABLED
			MENUITEM "&Empty", IDM_CDROM_EMPTY
			MENUITEM "&ISO image...", IDM_CDROM_ISO
		END
		MENUITEM SEPARATOR
		POPUP "&Mouse"
		BEGIN
			MENUITEM "&Follow host mouse", IDM_MOUSE_FOL
			MENUITEM "&Capture", IDM_MOUSE_CAP
			MENUITEM "&Two-button Mouse Mode", IDM_MOUSE_TWOBUTTON
		END
	END
END

ConfigureDlg DIALOG 20, 20, 187, 225
STYLE WS_POPUP | DS_MODALFRAME | WS_CAPTION | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_SYSMENU
CAPTION "Configure RPCEmu"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "CPU", GroupBox_CPU, 7, 7, 83, 98, WS_TABSTOP
	RADIOBUTTON "ARM610",    RadioButton_ARM610,    13, 18, 53, 10, WS_TABSTOP
	RADIOBUTTON "ARM710",    RadioButton_ARM710,    13, 32, 53, 10, WS_TABSTOP
	RADIOBUTTON "StrongARM", RadioButton_SA110,     13, 46, 53, 10, WS_TABSTOP
	RADIOBUTTON "ARM7500",   RadioButton_ARM7500,   13, 60, 53, 10, WS_TABSTOP
	RADIOBUTTON "ARM7500FE", RadioButton_ARM7500FE, 13, 74, 53, 10, WS_TABSTOP
	RADIOBUTTON "ARM810",    RadioButton_ARM810,    13, 88, 53, 10, WS_TABSTOP

	GROUPBOX "RAM", GroupBox_RAM, 97, 7, 83, 98, WS_TABSTOP
	RADIOBUTTON "4 MB",   RadioButton_Mem_4,   103, 18, 53, 10, WS_TABSTOP
	RADIOBUTTON "8 MB",   RadioButton_Mem_8,   103, 32, 53, 10, WS_TABSTOP
	RADIOBUTTON "16 MB",  RadioButton_Mem_16,  103, 46, 53, 10, WS_TABSTOP
	RADIOBUTTON "32 MB",  RadioButton_Mem_32,  103, 60, 53, 10, WS_TABSTOP
	RADIOBUTTON "64 MB",  RadioButton_Mem_64,  103, 74, 53, 10, WS_TABSTOP
	RADIOBUTTON "128 MB", RadioButton_Mem_128, 103, 88, 53, 10, WS_TABSTOP

	GROUPBOX "VRAM", GroupBox_VRAM, 7, 112, 83, 42, WS_TABSTOP
	RADIOBUTTON "None", RadioButton_VRAM_0, 13, 123, 53, 10, WS_TABSTOP
	RADIOBUTTON "2 MB", RadioButton_VRAM_2, 13, 137, 53, 10, WS_TABSTOP

	CHECKBOX "Sound", CheckBox_Sound, 103, 123, 53, 10, WS_TABSTOP

	GROUPBOX "Video refresh rate", GroupBox_Refresh, 7, 161, 173, 36, WS_TABSTOP
	CONTROL "Slider1", Slider_Refresh, "msctls_trackbar32" , WS_TABSTOP | TBS_AUTOTICKS, 10, 172, 140, 18
	LTEXT "60 Hz", Text_Refresh, 150, 175, 24, 8, WS_TABSTOP

	PUSHBUTTON "OK",     IDOK,      76, 204, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 130, 204, 50, 14, WS_TABSTOP
END

NetworkDlg DIALOGEX 0, 0, 213, 97
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure RPCEmu Networking"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX	"Networking", GroupBox_Networking, 7, 7, 199, 62
	RADIOBUTTON	"Off", RadioButton_Off, 13, 18, 27, 10, WS_TABSTOP
	RADIOBUTTON	"Ethernet Bridging", RadioButton_EthernetBridging, 13, 32, 71, 10, WS_TABSTOP
	LTEXT		"Bridge Name", Text_BridgeName, 43, 49, 41, 8
	EDITTEXT	Edit_BridgeName, 87, 46, 102, 14, ES_AUTOHSCROLL

	DEFPUSHBUTTON	"OK",     IDOK,     102, 76, 50, 14
	PUSHBUTTON	"Cancel", IDCANCEL, 156, 76, 50, 14
END
