#include <windows.h>
#include "resources.h"

allegro_icon ICON rpcemu.ico

MainMenu MENU DISCARDABLE
BEGIN
        POPUP "&File"
        BEGIN
                MENUITEM "&Reset",      IDM_FILE_RESET
                MENUITEM "E&xit",       IDM_FILE_EXIT
        END
        POPUP "&Disc"
        BEGIN
                MENUITEM "Load Disc :&0",IDM_DISC_LD0
                MENUITEM "Load Disc :&1",IDM_DISC_LD1
        END
        POPUP "&Settings"
        BEGIN
                MENUITEM "&Configure...",IDM_CONFIG
                MENUITEM "&Fullscreen mode",IDM_FULLSCR
                MENUITEM "&Alternative blitting code",IDM_STRETCH
                MENUITEM "&Blitting optimisation",IDM_BLITOPT
                POPUP "&CD-ROM"
                BEGIN
                        MENUITEM "&Disabled",IDM_CDROM_DISABLED
                        MENUITEM "&Empty",IDM_CDROM_EMPTY
                        MENUITEM "&ISO image...",IDM_CDROM_ISO
                END
                POPUP "&Mouse"
                BEGIN
                        MENUITEM "&Follow Windows mouse",IDM_MOUSE_FOL
                        MENUITEM "&Capture",IDM_MOUSE_CAP
                END
        END
END

ConfigureDlg DIALOG 20, 20, 178, 180
STYLE WS_POPUP | DS_MODALFRAME | WS_CAPTION | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_SYSMENU
CAPTION "Configure RPCemu"
FONT 8, "MS Sans Serif"
BEGIN
   GROUPBOX "CPU", GroupBox_CPU, 5, 5, 75, 74 , WS_TABSTOP
   RADIOBUTTON "ARM610", RadioButton_ARM610, 16, 15, 53, 12 , WS_TABSTOP
   RADIOBUTTON "ARM7500", RadioButton_ARM7500, 16, 30, 53, 12 , WS_TABSTOP
   RADIOBUTTON "ARM710", RadioButton_ARM710, 16, 44, 53, 12 , WS_TABSTOP
   RADIOBUTTON "StrongARM", RadioButton_SA110, 16, 59, 53, 12 , WS_TABSTOP
   GROUPBOX "RAM", GroupBox_RAM, 92, 4, 77, 103 , WS_TABSTOP
   RADIOBUTTON "4mb", RadioButton_Mem_4, 101, 15, 53, 12 , WS_TABSTOP
   RADIOBUTTON "8mb", RadioButton_Mem_8, 101, 30, 53, 12 , WS_TABSTOP
   RADIOBUTTON "16mb", RadioButton_Mem_16, 101, 44, 53, 12 , WS_TABSTOP
   RADIOBUTTON "32mb", RadioButton_Mem_32, 101, 59, 53, 12 , WS_TABSTOP
   RADIOBUTTON "64mb", RadioButton_Mem_64, 101, 74, 53, 12 , WS_TABSTOP
   RADIOBUTTON "128mb", RadioButton_Mem_128, 101, 89, 53, 12 , WS_TABSTOP
   GROUPBOX "VRAM", GroupBox_VRAM, 5, 79, 75, 43 , WS_TABSTOP
   RADIOBUTTON "None", RadioButton_VRAM_0, 16, 89, 53, 12 , WS_TABSTOP
   RADIOBUTTON "2mb", RadioButton_VRAM_2, 16, 103, 53, 12 , WS_TABSTOP
   PUSHBUTTON "OK", IDOK, 11, 158, 69, 20 , WS_TABSTOP
   PUSHBUTTON "Cancel", IDCANCEL, 91, 158, 69, 20 , WS_TABSTOP
   CHECKBOX "Sound", CheckBox_Sound, 101, 108, 64, 12, WS_TABSTOP
   GROUPBOX "Video refresh rate", GroupBox_Refresh, 5, 122, 168, 30 , WS_TABSTOP
CONTROL "Slider1", Slider_Refresh, "msctls_trackbar32" , WS_TABSTOP  | TBS_AUTOTICKS,  9, 132, 140, 13
LTEXT "60hz", Text_Refresh, 150, 132, 20, 8 , WS_TABSTOP
END
